<div>
    <p></p>
    <h3>Все задания</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>№</td>
            <td>Заголовок</td>
            <td>Автор задания</td>
            <td>Ответственный</td>
            <td>Время выполнения</td>
            <td>Дата начала</td>
            <td>Дата окончания</td>
            <td>Статус</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in allTasks.tasks">
            <td>{{t.id}}</td>
            <td>{{t.title}}</td>
            <td>{{t.author.username}}</td>
            <td>{{t.responsibleUser.username}}</td>
            <td>{{t.workingHours}}</td>
            <td>{{t.planStartDate}}</td>
            <td>{{t.planEndDate}}</td>
            <td>{{t.historyStatus.status.title}}</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Страница">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in pageList">
                <button class="page-link" ng-click="loadTasks(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>