<div>
    <p></p>
    <h3>Мои задания</h3>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Заголовок</th>
                        <th scope="col">Автор задания</th>
                        <th scope="col">Время выполнения</th>
                        <th scope="col">Дата начала</th>
                        <th scope="col">Дата окончания</th>
                        <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mt in myTasks.tasks">
                        <td>{{mt.id}}</td>
                        <td>{{mt.title}}</td>
                        <td>{{mt.author.username}}</td>
                        <td>{{mt.workingHours}}</td>
                        <td>{{mt.planStartDate}}</td>
                        <td>{{mt.planEndDate}}</td>
                        <td>{{mt.currentStatus.status.title}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="loadMySingleTask(mt.id)">Просмотр</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p></p>
    <nav aria-label="Страница">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in pagesListMyTasks">
                <button class="page-link" ng-click="loadMyTasks(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>