<div>
    <div>
        <br>
        <br>
        <h1 style="text-align: center">Создание нового задания</h1>
        <br>
        <label>
            Введите заголовок задания
        </label>
        <p></p>
        <input id="navTitleField" placeholder="Заголовок" class="form-control" ng-model="newTask.title" type="text"
               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
        <p></p>
        <label>
            Введите описание задания
        </label>
        <p></p>
        <input id="navDescriptionField" placeholder="Описание задания" class="form-control" ng-model="newTask.description" type="text"
               aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
        <p></p>
        <label>
            Работник
        </label>
        <form>
            <select id="navEmployerIdField" class="form-control" ng-model="newTask.employerId" style="margin-left: 10px; width: 300px;">
                <option ng-repeat="u in users.userList" value={{u.id}}>{{u.username + ' - '}}{{u.name + ' '}}{{u.surname}}</option>
            </select>
        </form>
        <p></p>

        <p></p>
        <label>
            Ответственный
        </label>
        <p></p>
        <form>
            <select id="navResponsibleUserIdIdField" class="form-control" ng-model="newTask.responsibleUserId" style="margin-left: 10px; width: 300px;">
                <option ng-repeat="u in users.userList" value={{u.id}}>{{u.username + ' - '}}{{u.name + ' '}}{{u.surname}}</option>
            </select>
        </form>
        <p></p>
        <label>
<!--            Количество часов на выполнение-->
<!--        </label>-->
<!--        <p></p>-->
<!--        <select id="navWorkingHoursField" class="form-control" ng-model="newTask.workingHours" style="margin-left: 10px; width: 300px;">-->
<!--            <option value="0"></option>-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--            <option value="4">4</option>-->
<!--            <option value="5">5</option>-->
<!--            <option value="6">6</option>-->
<!--            <option value="7">7</option>-->
<!--            <option value="8">8</option>-->
<!--        </select>-->
        <p></p>
        <label>
            Планируемая дата начала
        </label>
        <p></p>
        <input type="datetime-local" id="navPlanStartDateField" class="form-control" ng-model="newTask.planStartDate" style="margin-left: 10px; width: 300px;"
               min="2018-01-01" max="2040-12-31">
        <p></p>
        <label>
            Планируемая дата окончкания
        </label>
        <p></p>
        <input type="datetime-local" id="navPlanEndDateField" class="form-control" ng-model="newTask.planEndDate" style="margin-left: 10px; width: 300px;"
        min="2018-01-01" max="2040-12-31">
        <p></p>
        <button ng-show="isFieldsOk()" class="btn btn-primary" ng-click="createNewTask()">Создать задание</button>

<!--        -->
    </div>
</div>